
<h1 class="about-us">About Us:</h1>
<div class="col-md-12 col-xs-12">
    <p id="about-par">
    	In 1971, during the bicycle boom, Jack Salem started a small 1,500 square foot bicycle store in Long Beach, CA. His business expanded over the next 28 years to include four locations and to be known as Jax Bicycle Centers, one of the most respected retail bicycle businesses in America.


        In the summer of 1976 in Orange County, CA Dave Hanson, an energetic high school sophomore, started in the bicycle business. Dave worked his way up from floor sweeper, to mechanic, to sales person, and finally as the manager of South Whittier Bike Shop. In 1982, Dave looking for a bigger challenge, took a position at a multi-store business. He stayed there for nine months and learned how not to run a retail bicycle business.
    </p>
  </div>
 
   <%= image_tag("oldBike.jpg", class: "img-responsive", id: "pics", size: "300")%>


