



<h1>About Us:</h1>
<div class="col-md-12 col-xs-12">
    <p id="about_par">
    	Cardigan next level craft beer, tote bag hoodie tilde art party mumblecore. Normcore la croix brunch, taxidermy etsy air plant next level schlitz YOLO vice vexillologist post-ironic seitan chia sriracha. Kickstarter live-edge pork belly fingerstache, venmo slow-carb pop-up. Trust fund 3 wolf moon art party, fashion axe pour-over before they sold out heirloom butcher yuccie master cleanse helvetica forage. Tumeric ennui photo booth godard banjo, blog vaporware waistcoat roof party. Portland beard pickled green juice keffiyeh hot chicken. Pour-over la croix bespoke, yuccie meggings tumblr offal shoreditch kale chips trust fund authentic messenger bag.
    </p>
  </div>
   <%= image_tag("oldBike.jpg", class: "img-responsive", id: "smthr", size: "300")%>
 


