<p class="featured-headline"> Contact Us:</p>
<br>
  <p class="contact-info">1800-323-3443 <span class="glyphicon glyphicon-phone" id="glyph"></span><br>
  Berline-bikes1.com  <span class="glyphicon glyphicon-envelope" id="glyph"></span><br>
  12343 5th street<br>
  Orange Ca, 99832 <span class="glyphicon glyphicon-globe" id="glyph"></span></p>
