



    <p class="featured-headline">Welcome to Bike Berlin</p>
    <%= image_tag("bike1.jpg", class: "img-responsive", id: "index-page-img") %>

    <div class="indexpage-link-products">
        <%= link_to 'Our Products', products_path %>
    </div>