
<div class="container">
<p class="thank-top">Thanks for the feedback.</p>

<div class="well well-lg">
    Your message has been sent! Someone will respone shortly.  
</div>
<%=link_to 'Home',  static_pages_landing_page_path, class: "btn btn-danger" %>
</div>