
<div class="container">
<p class="thank-top">Thanks for signing up!</p>

<div class="well well-lg">
    Dear                 
    Master cleanse forage 90's single-origin coffee. Biodiesel iPhone drinking
    vinegar poke, tofu vegan heirloom kitsch austin food truck bushwick iceland meditation woke blog.
</div>
<%=link_to 'Home',  static_pages_landing_page_path %>
</div>