/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
#top-index {
  padding-top: 5%;
}

@media (max-width: 767px) {
  /* line 11, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
  #top-index {
    padding-top: 10%;
  }
}
/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
#product-header {
  font-size: 5em;
  color: #000;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.show-background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  background-color: black;
  color: white;
  border: 3px solid teal;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.showpage-links {
  font-size: 1.25em;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  text-align: center;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
#show-img {
  height: 25%;
  width: 25%;
  border: 2px solid #000;
  border-radius: 20px 0px;
  box-shadow: 2px 2px 10px 0 grey;
}

/* line 54, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.show-page-img-holder {
  text-align: center;
}

/* line 60, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.show-page-words {
  color: black;
  font-family: Roboto, courier;
  font-size: 2em;
  font-weight: 600;
}

/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.show-page-words1 {
  color: black;
  font-family: Roboto, courier;
  font-size: 2em;
  font-weight: 600;
  margin-top: 5%;
}

/* line 79, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.showpage-links a {
  background-color: white;
  padding: 7px;
  border-radius: 2px;
  border: 1px solid #303030;
  transition: all .3s ease-in-out;
  margin-top: 5px;
}

/* line 90, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.showpage-links a:hover {
  text-decoration: none;
}

/* line 96, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.new-product-link {
  font-size: 1.25em;
  font-family: Roboto, sans-serif;
  padding: 7px;
  background-color: #afb42b;
  border-radius: 0px;
  box-shadow: 0 0  10px 0 grey;
  width: 12%;
  float: right;
  clear: left;
  margin: 2%;
}

/* line 111, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.new-product-link a:hover {
  text-decoration: none;
}

/* line 117, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.form-mover {
  display: block;
  margin-left: 40%;
}

/* line 124, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.new-header {
  color: #000;
  font-size: 4em;
}

/* line 132, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.newpage-back-button a:hover {
  text-decoration: none;
}

/* line 140, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.editpage-links {
  margin: 7%;
  font-size: 2em;
  font-family: Amatic Sc;
  font-weight: 600;
  text-align: center;
}

/* line 150, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.editpage-links a {
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  border: 3px solid teal;
}

/* line 157, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.editpage-links a:hover {
  text-decoration: none;
}

/* line 161, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
#buton-submit {
  padding: 5px;
  color: black;
}

/* line 169, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.thumbnail {
  margin-top: 20%;
  max-height: 10%;
  border-radius: 0px;
  box-shadow: 0 0 15px 0 black;
  border: 1px solid black;
}

/* line 179, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.thumbnail-img {
  max-height: 150px;
  border: 1px solid black;
  box-shadow: 0 0 10px 0 black;
  padding: 15px;
}

/* line 186, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.product-name {
  text-align: center;
  font-family: Roboto, courier;
}

/* line 191, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.new-product-link {
  float: right;
  width: 10%;
  text-align: center;
  border: 1px solid black;
}

/* line 200, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.description-par {
  font-size: .8em;
  color: black;
  font-family: Roboto;
}

/* line 206, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.product-price {
  text-align: center;
  padding-top: 5%;
}

/* line 212, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
a:visited {
  text-decoration: none;
}

@media (max-width: 767px) {
  /* line 217, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
  .jumbotron {
    margin-top: 40%;
  }
}
@media (max-width: 900px) {
  /* line 223, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
  .new-product-link {
    width: 100%;
  }
}
/* line 229, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.showpage-links a:hover {
  background-color: #afb42b;
  color: white;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
}

/* line 237, /home/ubuntu/workspace/app/assets/stylesheets/products.scss */
.space {
  padding: 5%;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #000;
}
/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #000;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 27px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 52, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 57, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 61, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 67, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 75, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 86, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 92, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 96, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
table tr {
  margin-top: 100px;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.featured-headline {
  font-family: serif;
  color: #303030;
}

/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
img {
  margin-left: auto;
  position: relative;
  margin-right: auto;
  border: 2px solid red;
}

/* line 21, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.green-hr {
  width: 80%;
  color: #303030;
  border: .25px solid #999;
  margin-bottom: 5%;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  color: white;
  font-weight: 700;
  padding: 2.5px;
  font-size: 1.5em;
  font-family: courier;
  text-align: center;
  background-color: black;
  opacity: 0.6;
  border-radius: 5px;
}

/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.carousel-indicators li {
  padding: 5px;
  border: 1px solid #afb42b;
}

@media (max-width: 767px) {
  /* line 48, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
  .carousel-caption {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 54, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
  .featured-headline {
    padding: 5%;
  }
}
/* line 61, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.carousel-indicators .active {
  background-color: #afb42b;
  border: 1px solid #000;
}

/* line 66, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
.img-item {
  padding-top: 5%;
}

/* line 70, /home/ubuntu/workspace/app/assets/stylesheets/static_pages.scss */
#pics {
  box-shadow: 0 0 15px 0 black;
  border: 2px solid black;
  border-radius: 5px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

body {
	background-color: #e6e9f0;

}
/*     NAV   */
.sideNavBar {
	height: 100%;
	width: 0;/*hidden*/
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #303030;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.8s;/*slides the nav*/
	box-shadow: 0 0 25px 0 #000;
}
/* links*/
.sideNavBar a {
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	transition: 0.8s;
	font-family: Roboto;
	text-align: center;
	
}

.nav-hr {
	width: 80%;
}


.sideNavBar .close-button {
	position: absolute;
	font-size: 2em;
	top:0;
	right:25px;
}



.glyphicon-menu-hamburger {
	color: #000;
	font-size: 2em;
	position: fixed;
	top: 2%;
	
}


#side-nav a {
	color: #afb42b;
	padding: 10px;
}



@media (max-height: 450px) {
    .sideNavBar {padding-top: 15px;}
    .sideNavBar a {font-size: 18px;}
}



 .contact-info {
 	font-family: courier, georgian, Helvetica;
 	margin-top: 3%;
 	
 }



.central-img {
	border: 1px solid black;
	box-shadow: 0 0 10px 0 black;
	width: 100px;
	display: block;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}



#pics {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}


h1, 
h2 {
	font-family: Amatic SC, courier;
	text-align: center;
	font-weight: 700;
	color: black;



}

h1 {
	margin-top: 5%;
}

h2 {
	margin-bottom: 5%;

}



p {
	text-align: center ;

}



	

#glyph {
	color: #000;
}




#about-par {
	font-family: courier, georgian , Helvetica;
	color: #000000;
	margin-bottom: 5%;
	font-size: 1.1em;
	

}



/*li::first-letter  {
	font-family: something scc;
}*/


.footer-starts {
	border: 4px double #ccc;
	width: 80%;
	margin-top: 10%;
}

.cont-starts {
	border: 4px double #ccc;
	width: 80%;
	margin-bottom: 10%;
	margin-top: 5%;
}


.foot-comp {
	font-size: .80em;
	color: #000;
	font-family: courier, sans serif, seriif, georgian ;


} 


footer {
	
	margin-top: 1%;
	color: #000000;
	font-size: 1.2em;
}




@media (max-width: 767px) {
	h1 {
		margin-top: 10%;
	}
}


@media (max-width: 767px) {
	.cont-starts {
		margin-top: 25%;
	}
}
