
<div class="user-wrapper">
<div class="form-mover">


  
  <strong>First name:</strong>
  <%= @user.first_name %><br>

<br>

  <strong>Last name:</strong>
  <%= @user.last_name %><br>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-danger" %><br >
<%= link_to 'Back', users_path, class: "btn btn-danger" %>

</div>
</div>