
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	body {
		background-color: #fff;

	}
/*     NAV   */

	.contact-info {
 		font-family: courier, georgian, Helvetica;
 		margin-top: 3%;
 	 }
 	 
	.central-img {
		border: 1px solid black;
		box-shadow: 0 0 10px 0 black;
		width: 100px;
		display: block;
		height: 40%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
	}
	
	#pics {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
	}

	p {
		text-align: center ;
	}
	
	#glyph {
		color: #000;
	}
	
	#about-par {
		font-family: courier, georgian , Helvetica;
		color: #000000;
		margin-bottom: 5%;
		font-size: 1.1em;
	}
	
	.footer-starts {
		border: 4px double #ccc;
		width: 80%;
		margin-top: 10%;
	}

	.cont-starts {
		border: 4px double #ccc;
		width: 80%;
		margin-bottom: 10%;
		margin-top: 5%;
	}
	
	.foot-comp {
		font-size: .80em;
		color: #000;
		font-family: courier, sans serif, seriif, georgian ;
		} 
		
	footer {
		margin-top: 1%;
		color: #000000;
		font-size: 1.2em;
	}
	
	#back-button {
		margin-top: 5%;
		background-color: #afb42b;
		border: 1px solid black;
		border-radius: 3px;
	}

	.menu-links a {
		font-family: Contrail One;
		font-size: 1.5em;
		color: white;
		
	}

	button.navbar-toggle {
		margin-top: 2px;
	}


	ul li.menu-links:hover {
		background-color: #ccc;
		border-radius: 2px;
		
	}
	
	
		ul li.menu-links:active {
		background-color: #ccc;
		border-radius: 2px;
		
	}
	

	.btn-danger {
		margin-left: 5%;
		margin-top: 5%;		
		border: 1px solid black;
		box-shadow: 0 0 10px 0 grey;
		background-color: red;		
		font-family: Contrail One, Georgian, Serif, Sans Serif;
		color: #000;
	}

	.btn-danger:hover {
		background-color: red;
		color: black;
		box-shadow: 0 0 5px 0 grey ; 
		border: 0.5px solid black;
	}

	.btn-danger:active {

		color: black;
	}

	
	
	#q {
		border-radius: 10px;
		border: 2px solid #46b8da;
 	}
 	
 	
 	form label {
    	font-size: 2em;
    	font-family: Contrail One, Georgian, sans-serif;
	 	}
	 	
	.bb {
		float:right;
	}
	
	.btn-info {
		border: 1px solid black;
		box-shadow: 0 0 7px 0 #ccc;
		color: black;
		font-family: Contrail One, Serif, Georgian, Helvetica;
	}
	
	#logo-menu {
		font-family: Contrail One, sans-serif, Courier;
		font-size: 1.8em;
		padding-top: 20px;
		text-align: center;
	}
	
	#login {
		float: right;
		clear: right;
	}
	
	#login2 {
		float: right;
		clear: right;
		color: red;
		font-family: Contrail One;
		font-size: 1.25em;
		margin-top: 10%;
	}
	
	@media (max-width: 767px) {
		h1 {
			margin-top: 10%;
		}
	}
	
	@media (max-width: 767px) {
		.cont-starts {
		margin-top: 25%;
		}
	}
	
		@media (max-width: 767px) {
		form label {
			font-size: 1em;
		
		}
	}


/* Fixed nav*/

	#logo-nav {
		font-size: 1.5em;
		font-family: Contrail One, Contrail, Sans Serif, serif;
		color: white;
	}
	
	body {
		margin-top: 50px;
	}
	
	 ul .navbar-right .menu-links {
	 	color: black;
	 }
	 
		
   .navbar-inverse .navbar-nav li a {
	color: white;
  }
	
   .navbar-inverse .navbar-nav li a em  {
	color: black;
  }

  .navbar-inverse .navbar-nav li a:hover {
	color: black;
  }
  
	.navbar-inverse .navbar-nav li a:hover {
		
		text-decoration: none;
	}  
  .navbar-inverse {
  	background-image:url("accentedbackground.png");
	background-color: #333;
	box-shadow: 0 0 15px 0 black;
  }

  .nav-word {
	color: black;
	font-size: 1.5em;
	font-family: Contrail One, Courier, Sans Serif; 
	padding: 5px;
	margin-top: 10px;
	
  }

   .nav-search {
	color: black;
  }


	@media (max-width: 767px) {
		body {
			margin-top: 60px;
		}
	}


	.forgot-password {
		margin-left: 10%;
	}
	


  @media (max-width: 767px) {
	p.edit-form-header {
    	margin-top: 25%;
	}
  }

	.navbar-inverse .navbar-nav li a {
		color: black;
	}  
  
	.navbar-inverse .navbar-toggle .icon-bar{
		background-color: black;
	
	}

