
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 p.contact_info {
 	font-family: courier, georgian, Helvetica;
 	margin-top: 3%;
 	
 }

.img-responsive {
	border: 2px solid black;
}




.central_img {
	display: block;
	height: 40%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}





h1, 
h2 {
	font-family: Amatic SC, courier;
	text-align: center;
	font-weight: 600;
	color : white;
	text-shadow: 2px 2px #000000;

}

h1 {
	margin-top: 15%;
}



p {
	text-align: center ;

}





footer {
	
	margin-top: 1%;
	font-family: courier;
	color: #000000;
	font-size: 1.2em;
}





li {
	display: inline-block;
	padding: 5px;
	font-family: Amatic SC, courier;
	font-size: 2.3em;
	font-weight: 700;
	text-shadow: 2px 2px white;
	margin-left: 3%;

	
}
	

body {
	background-color: #afafaf;

}



#glyph {
	color: #000;
}

#smthr {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



a {
	text-decoration: none;
	color: black;
}





.footer_starts {
	border: 4px double white;
	width: 100%;
}





#about_par {
	font-family: courier, georgian , Helvetica;
	color: #000000;
	margin-bottom: 5%;
	

}



/*li::first-letter  {
	font-family: something scc;
}*/

 li a:hover {
	color: #000;
	text-decoration: none;
}


.foot_comp {
	font-size: .80em;
	color: #000000;
	margin-top: 15%;

}

.navbar-inverse {
	background-color: #ccc;
	box-shadow: 0 0 8px 0 black;
	border-radius: 0px;

}