
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #adaaaa;

}


.navbar-inverse {
	background-color: black;
	box-shadow: 0 0 8px 0 black;
	border-radius: 0px;
	z-index: 1;
	opacity: 0.8;

}


 .nav_li a:hover {
	color: red;
	text-decoration: none;
}


.nav_li a {
	text-decoration: none;
	color: white;
}


 .nav_li {
	display: inline-block;
	padding: 15px 10px;
	font-family: Amatic SC, courier;
	color: white;
	font-size: 2em;
	font-weight: 550;
	margin-left: 2%;
	

	
}


 p.contact_info {
 	font-family: courier, georgian, Helvetica;
 	margin-top: 3%;
 	
 }


.img-responsive {
	border: 1px solid black;
	box-shadow: 0 0 10px 0 black;
	margin-top: 2%;
}




.central_img {
	display: block;
	height: 40%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}



#pics {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}


h1, 
h2 {
	font-family: Amatic SC, courier;
	text-align: center;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px #000000;


}

h1 {
	margin-top: 5%;
}

h2 {
	margin-bottom: 5%;

}



p {
	text-align: center ;

}



	

#glyph {
	color: #000;
}




#about_par {
	font-family: courier, georgian , Helvetica;
	color: #000000;
	margin-bottom: 5%;
	font-size: 1.1em;
	

}



/*li::first-letter  {
	font-family: something scc;
}*/


.footer_starts {
	border: 4px double white;
	width: 100%;
	margin-top: 10%;
}


.foot_comp {
	font-size: .80em;
	color: #000000;


} 


footer {
	
	margin-top: 1%;
	font-family: courier;
	color: #000000;
	font-size: 1.2em;
}

