// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


    .cent-text {
        text-align: center;
        font-family: Contrail One, Georgian, courier;
   
    }
    
    .reviews-start {
        text-align: left;
        font-family: Contrail One, Georgian, courier;
    }
    
    .above-review {
        width: 70%;
    }
    
    div .rated {
        text-align: center;
    }
    
    .rating {
        text-align: center;
    }
    
    .paginate-links {
        text-align: center;
        padding: 5px;
    }
    
    .glyphicon-trash {
        color: red;
        font-size: 1.5em;
    }