// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 



 #product_header {
 font-size: 5em;
 color: teal;
 }


.th_on_productspage {
	padding: 10px;
	font-family: courier;
	color: teal;
	font-size: 1.5em;
}