// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 



 #product-header {
 font-size: 5em;
 color: teal;
 }


.th-on-productspage {
	padding: 10px;
	color: teal;
	font-size: 2.5em;
	font-family: Amatic SC, courier;
	text-shadow: 1px 1px #000;
	padding-bottom: 10%;

}

.show-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 300px;
	width: 300px;
	background-color: black;
	color: white;
	border: 3px solid teal;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0 black;
}

.showpage-links  {
font-size: 1.25em;
font-family: Roboto, sans-serif;
font-weight: 200;
text-align: center;


}

.show-page-words {
	
	color: black;
	font-family: Roboto, courier;
	font-size: 2em;
	font-weight : 600;
}


.showpage-links a {
	background-color: white;
	padding: 7px;
	border-radius: 2px;
	border: 1px solid teal;

}



.showpage-links a:hover {
	text-decoration: none;

}


.new-product-link {
	
	font-size : 1.25em;
	font-family: Roboto, sans-serif;

	padding: 7px;
	background-color: teal;
	color: white;
	
	border-radius: 3px;
	box-shadow: 2px 2px 1px #ccc;
	width: 12%;
	float: right;
}

.new-product-link a:hover {
	text-decoration: none;
}


.form-mover {
display: block;
margin-left: 40%;
	
}


.new-header {
	color: teal;
	font-size: 4em;
}




.newpage-back-button a:hover {
	text-decoration: none;
}





.editpage-links {
margin: 7%;
font-size: 2em;
font-family: Amatic Sc;
font-weight: 600;
text-align: center;
}



.editpage-links a {
    background-color: white;
	padding: 7px;
	border-radius: 50%;
	border: 3px solid teal;
}

.editpage-links a:hover {
	text-decoration: none;
}

 #buton-submit {
	padding: 5px;
	color: black;
    

}




.thumbnail {

	border-radius:0px;
	box-shadow: 0 0 10px 0 black;
	
	

}

.thumbnail-img {
	max-height: 150px;
    border: 1px solid black;
	box-shadow: 0 0 10px 0 black;
}

.product-name {
	text-align: center;
	font-family: Roboto, courier;
}

.new-product-link {
	float: right;
	width: 10%;
	text-align: center;
	border: 1px solid black;
	}



.description-par {
	font-size: .8em;
	color: black;
	font-family: Roboto,
}

.product-price {
	text-align: center;
	padding-top: 5%;
}


.jumbotron {
	margin-top: 3%;
	background-color: #ccc;
	box-shadow: 0 0 10px 0 black;
	border: 1px solid #000;
	
}

.j-t-par {
	padding: 15%;
	font-family: Roboto, courier;
	color: black;

	

}

a:visited {
	text-decoration: none;
}

@media (max-width: 767px){
	.jumbotron {
		margin-top: 40%;
	}
}

@media (max-width: 767px){
	.new-product-link {
		width: 100%;
	}
}


.showpage-links a:hover {
	background-color: teal;
	color: white;
	border: 1px solid black;

}