// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




    .car-img {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding: 5%;
    
    }

	.carousel-caption {
    	color: white;
	    font-weight: 700;
	    padding: 2.5px;
	    font-size: 1.5em;
	    font-family: Contrail One ;
	    text-align: center;
	    background-color: black;
	    opacity: 0.7;
	    border-radius: 5px;
	    border: 2px solid red;
	    margin-bottom: 2%;
    }

    .carousel-indicators li {
	
    	
    	border: 1px solid red;
    	 
    }


    .featured-headline {
        text-align: center;
        font-family: Contrail One, Roboto, Serif;
        font-size: 3em;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    
    .about-headline {
        text-align: center;
        font-family: Contrail One, Roboto, Serif;
        font-size: 3em;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    #about-pic {
        
        border: 2px solid #000;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 15px 0 black;
        
    }
    
    .indexpage-link-products {
        text-align: center;
        margin-top: 3%;
        
    }
    
    
    .indexpage-link-products a {
        color: red;
        font-size: 2em;
        font-family: Contrail One, Roboto;
        text-shadow: 1px 1px black;
    }
    
    
    
    div.indexpage-link-products a:hover {
        text-decoration: none;
    }
    
    
    
    		
		    @media (max-width: 767px) {
	    .featured-headline {
		margin-top: 10%;
	    }
    }
    
            @media (max-width: 767px) {
	    .about-headline {
		margin-top: 15%;
	    }
    }
	
          	@media (max-width: 767px){
        .carousel-caption {
  display: none;
       }
    }