// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-headline {

	font-family: serif;
	color: #303030;
}

  
img {
      margin-left: auto;
      position: relative;
      margin-right: auto;
      border: 2px solid red;
     
}


.green-hr {
	width: 80%;
	color: #303030;
	border: .25px solid #999;
	margin-bottom: 5%;
}

  
	.carousel-caption {
	color: white;
	font-weight: 700;
	padding: 2.5px;
	font-size: 1.5em;
	font-family: courier;
	text-align: center;
	background-color: black;
	opacity: 0.6;
	border-radius: 5px;
}
	
.carousel-indicators li {
	
	padding: 5px;
	border: 1px solid #afb42b;
}

@media (max-width: 767px){
  .carousel-caption {
  display: none;
   }
  }

@media (max-width: 767px) {
	.featured-headline {
	padding: 5%;
	}
}



.carousel-indicators .active {
	 background-color: #afb42b;	
 	border: 1px solid #000;
}

.img-item {
	padding-top: 5%;
}
 
#pics {
	box-shadow: 0 0 15px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	
}

@media (max-width: 767px) {
	.carousel-indicators li {
		display: none;
	}
}

#index-page-img {
	height: 30%;
	width: 30%;
}

.stat-page-index-link {
	background-color: #ccc;
	text-align: center;
	width: 10%;
	font-size: 1em;
	border: 1px solid #000;
	box-shadow: 0 0 10px 0 black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;

}


	.about-us {
		font-size: 3em;
		font-family: courier, serif, georgian ;
		color: black;
		font-weight: 600;
	}
