
  <p class="edit-form-header">Edit Product</p>
        <div class="form-mover">
    <%= render 'form', product: @product %>
        </div>

  <div class="edit-form-links">
        <%= link_to 'View |', @product %>
        <%= link_to '| Back', products_path %>
    </div>
