<h1 id="product-header">Edit Product</h1>
<div class="form-mover">
<%= render 'form', product: @product %>
</div>

<div class="editpage-links">
<%= link_to 'Show', @product %> 
<%= link_to 'Back', products_path %>
</div>