<h1 class="new-header">New Product</h1>
<div class="form-mover">
    <%= render 'form', product: @product %>
<div class="newpage-back-button">
    <%= link_to 'Back', products_path %>
</div><!--button-->
</div><!--end of form-mover-class-->
