  <p class="edit-form-header">New Product</h1>
<div class="form-mover">
  <%= render 'form', product: @product %>
    <div class="new-form-links">
    <%= link_to 'Back', products_path %>
    </div><!--form links-->
</div><!--end of form-mover-class-->
